@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Patrick+Hand&family=Playwrite+HU:wght@100..400&family=Rock+Salt&display=swap');

@font-face {
    font-family: "font_inksul";
    src: url('./fonts/ITC Tiffany Std Heavy Italic.otf') format('opentype');
}

/* stilos da pagina de contato*/
img{
    width: 64px;
    max-width: 100%; /*torna a imagem responsiva*/
    height: auto;
}

/*config para corpo*/
html {
    margin:0px;
    padding: 0px;
    box-sizing: border-box ;
    background-image: url('./imagens/textura_fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}

body{
    background-color: white;
    max-width: 90%; /*deixa responsivel mas mostrando o fundo*/ 
    height: auto;  
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 5px 10px #0000001a;
    margin: auto; /*ajustou todo o bloco no centro*/

}

/* titulo */
header h1{
    text-align: center;
    padding-top: 40px;
    font-size: 2rem; /*usando unidade relativa */
    font-family:"font_inksul";
}

/*config dos botoes */
.iconesContatos{
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex-wrap: wrap; /* permite quebra de linha em telas menores*/
    padding-bottom: 20px;
}

/*config do formulario*/
fieldset{
    border: 2px solid #a52a2a;
    color:#000000;
    border-radius: 4px;
    padding: 1rem;
    margin: 30px auto 20px auto;
    max-width: 90%;
    box-sizing: border-box;    
}

/* stilos para p rodape*/
footer{
    background-color: #a52a2a;
    padding: 1rem;
    color: #d4d2d2;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem; /*unidade relativa*/
}