@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Patrick+Hand&family=Playwrite+HU:wght@100..400&family=Rock+Salt&display=swap');

@font-face {
    font-family: "font_inksul";
    src: url('./fonts/ITC\ Tiffany\ Std\ Heavy\ Italic.otf') format('opentype');
}

/*
  font-family: "Playwrite HU", cursive;
*/

html {
    margin:0px;
    padding: 0px;
    box-sizing: border-box ;
    background-image: url('./imagens/textura_fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

body{
    max-width: 1400px;
    margin: auto;
    border: 1px solid #e4e4e4;
    box-shadow: 0 5px 10px #0000001a;
    border-radius: 8px; 
    background-color: white;
}

/* stilos do cabeçallho*/
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* stilos para o titulo e subtitulo*/

h1{
    text-align: center;
    font-family:"font_inksul";
    font-size: 30pt;

}

h3{
    padding: 0.5;
    font-family: "Playwrite HU";
    text-align: center;
    padding-bottom: 0.1rem;
}

/*config carrossel*/
#carrossel {
    position: relative;
    width: 1120px;
    height: 580px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 3px 8px #0000001a;
}

.slides {
display: flex;
width: 100%;
transition: transform 0.5s ease-in-out;
}

.slide {
min-width: 100%;
box-sizing: border-box;
}

.slide img {
width: 100%;
display: block;
}

.navegacao {
position: absolute;
top: 50%;
width: 100%;
display: flex;
justify-content: space-between;
transform: translateY(-50%);
}

.navegacao button {
background-color: #a52a2a ;
color: white;
border: none;
padding: 10px;
cursor: pointer;
}

/* stilos historia*/
#historia{
    height: 250px;
    text-align: center;
    font-size: 22pt;
    background: #a52a2a;
    padding: 20px;
    color: #ffffff;
}

/* stilos para os serviços */
.servicos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colunas iguais */
    gap: 20px;
    margin-left:20px;
    margin-right:20px;
    font-family:"font_inksul";
    font-size:28px;
    text-align:center;
    margin-bottom: 40px;
}  
.servicos > a {
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: -80px;
    align-items: center;
    box-shadow: 0 3px 8px #0000001a;
    margin-bottom: 40px;
    text-decoration: none;
    color: #000000;
}
.servicos > a:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.servicos img{
    margin-top: 20px;
    height: 75px;
    margin-bottom: 20px;
}

.servicos p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    text-align: center;
}

/* stilos para a galeria */
#titulo_galeria {
    background-color: #fff88c;
    width: fit-content;
    padding: 20px 30px;
    margin: auto;
    font-family: "font_inksul";
    font-size: 32px;
    color: #000000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    position: relative;
    border-radius: 8px;
  }

#titulo_galeria img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 25px;
    vertical-align: top;
  }

.galeria {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 80px;
}

.galeria img {
    padding: 5px;
    width: calc(25% - 20px);
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 5px 10px #0000001a;
}

.galeria img:hover{
    transition: transform 0.3s;
    transform: scale(1.3);
}

/* stilos para logos de empresas parceiras*/
#titulo_parceiros {
    background-color: #fff88c;
    width: fit-content;
    padding: 20px 30px;
    margin: auto;
    font-family: "font_inksul";
    font-size: 32px;
    color: #000000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    position: relative;
    border-radius: 8px;
  }

#titulo_parceiros img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 25px;
    vertical-align: top;
  }

.parceiros {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
    margin-bottom: 25px;
}

.parceiros img {
    max-width: 250px;
    height: auto;
    transition: transform 0.3s;
    filter: grayscale(100%);
}
.parceiros img:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
}

/* stilos para p rodape*/
footer {
    background-color: #a52a2a;
    padding: 1rem;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-size: 15pt;
}
footer a {
    margin-top: 60px;
    text-decoration: none;
    color: #000000;
    font-size: 15pt;
}
